* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box; /* Ensures padding and borders are included in the total width and height */
}

/* Header */
#header-div{
    background-color: #718467;
    text-align: center;
    height: 100vh; /* You might want to adjust this if it causes layout issues */
}

.navBar{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    width: 70%;
}

.navOption{
    color: #DFE6DA;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
    margin: 0 1vw;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.text-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 70%;
}

.texto{
    width: 80%;
    height: 100%;
    border: solid green;
}